In [2]:
import pandas as pd

In [5]:
map_file = pd.read_csv('map_symbol-name.csv', sep="|")

In [7]:
map_file.head()

  Symbol              Nazwa
0    06N   MAGNA POLONIA SA
1    08N          OCTAVA SA
2    11B  11 BIT STUDIOS SA
3    1AT            ATAL SA
4    4FM      4FUN MEDIA SA

In [14]:
    map_file["sym"]=map_file.Symbol.str.lower()

In [15]:
map_file.head()

  Symbol              Nazwa  sym
0    06N   MAGNA POLONIA SA  06n
1    08N          OCTAVA SA  08n
2    11B  11 BIT STUDIOS SA  11b
3    1AT            ATAL SA  1at
4    4FM      4FUN MEDIA SA  4fm

In [22]:
map_file[map_file.Nazwa.str.contains('SATIS')]

    Symbol           Nazwa  sym
162    IAG  SATIS GROUP SA  iag